.bgc-wrapper-1 .projects__header__circle::after {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.bgc-wrapper-1 .projects__section__circle::after, .bgc-wrapper-1 .projects__header__circle::after {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.bgc-wrapper-2 .about__footer ul li:nth-child(2), .bgc-wrapper-2 .about__nav ul li:nth-child(2), .bgc-wrapper-1 .projects__footer ul li:nth-child(2), .bgc-wrapper-1 .projects__nav ul li:nth-child(2), .open-animation .text {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}

.bgc-wrapper-2 .about__footer ul li:nth-child(1), .bgc-wrapper-2 .about__header, .bgc-wrapper-2 .about__nav ul li:nth-child(1), .bgc-wrapper-1 .projects__footer ul li:nth-child(1), .bgc-wrapper-1 .projects__header, .bgc-wrapper-1 .projects__nav ul li:nth-child(1) {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
}

.bgc-wrapper-2 .about__footer ul li:nth-child(3), .bgc-wrapper-2 .about__nav ul li:nth-child(3), .bgc-wrapper-1 .projects__footer ul li:nth-child(3), .bgc-wrapper-1 .projects__section__content .title, .bgc-wrapper-1 .projects__nav ul li:nth-child(3) {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-end;
  align-items: center;
}

.bgc-wrapper-2 .about__footer ul, .bgc-wrapper-2 .about__footer, .bgc-wrapper-2 .about__nav ul, .bgc-wrapper-2 .about__nav, .bgc-wrapper-1 .projects__footer ul, .bgc-wrapper-1 .projects__footer, .bgc-wrapper-1 .projects__section, .bgc-wrapper-1 .projects__nav ul, .bgc-wrapper-1 .projects__nav {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
}

.bgc-wrapper-2 .about__section--2, .bgc-wrapper-2 .about__section--1 {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.bgc-wrapper-1 .projects__section__num {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
}

.bgc-wrapper-1 .projects__section__content {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
    transform: translateX(10%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateX(10%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes fadeRight {
  0% {
    opacity: 0;
    top: -100%;
  }
  100% {
    opacity: 1;
    top: 50;
  }
}
@keyframes fadeRight {
  0% {
    opacity: 0;
    top: -100%;
  }
  100% {
    opacity: 1;
    top: 50;
  }
}
@-webkit-keyframes opacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes opacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes about {
  from {
    transform: scale(0) rotate(270deg);
    opacity: 0;
  }
  to {
    transform: scale(1) rotate(360deg);
    opacity: 1;
  }
}
@keyframes about {
  from {
    transform: scale(0) rotate(270deg);
    opacity: 0;
  }
  to {
    transform: scale(1) rotate(360deg);
    opacity: 1;
  }
}
@-webkit-keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.open-animation {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  border-radius: 0;
  background-color: rgba(8, 8, 8, 0.5);
  -webkit-backdrop-filter: saturate(180) blur(5px);
          backdrop-filter: saturate(180) blur(5px);
  z-index: 33;
  overflow: hidden;
  -webkit-animation: opacity 2s 3s forwards;
          animation: opacity 2s 3s forwards;
}
.open-animation .text {
  position: absolute;
  right: 0;
  top: 50%;
  font-family: "Taviraj", serif;
  transform-origin: top right;
  transform: rotate(90deg) translateX(50%);
  -webkit-animation: fadeRight 3s forwards ease-in-out;
          animation: fadeRight 3s forwards ease-in-out;
}
.open-animation .text p {
  font-size: 3em;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 0.1em;
  margin: 0 0 0 0.2em;
  color: #fff;
}
.open-animation .text p span {
  margin-left: 0.2em;
}

.bgc-wrapper-1 {
  background-image: url(../white/white-bgc.jpeg);
  padding: 2em 0;
}
.bgc-wrapper-1 .projects {
  width: 95%;
  margin: 0 auto;
  border: 1px solid #212121;
  border-radius: 0.6em;
  overflow: hidden;
}
.bgc-wrapper-1 .projects hr {
  width: 90%;
  color: #212121;
  transition: all 0.6s;
}
.bgc-wrapper-1 .projects__nav {
  width: 95%;
  margin: 0 auto;
  border-bottom: 1px solid #212121;
}
.bgc-wrapper-1 .projects__nav ul {
  width: 100%;
  padding: 1em 1em;
}
.bgc-wrapper-1 .projects__nav ul li {
  flex: 1;
}
.bgc-wrapper-1 .projects__nav ul li:nth-child(1) div {
  width: 0.6em;
  height: 0.6em;
  border: 1px solid #212121;
  border-radius: 1em;
  margin: 0 10px;
}
.bgc-wrapper-1 .projects__nav ul li:nth-child(1) div:hover {
  background-color: #212121;
}
.bgc-wrapper-1 .projects__nav ul li:nth-child(2) a {
  font-size: 1em;
  line-height: 1.5;
  font-weight: 300;
  letter-spacing: 0.1em;
  margin: 0;
  cursor: pointer;
}
.bgc-wrapper-1 .projects__nav ul li:nth-child(2) a::after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  border-radius: 0;
  background-color: #212121;
  transition: all 0.2s;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
}
.bgc-wrapper-1 .projects__nav ul li:nth-child(2) a:hover::after {
  opacity: 1;
}
.bgc-wrapper-1 .projects__nav ul li:nth-child(3) a {
  font-size: 1em;
  line-height: 1.5;
  font-weight: 300;
  letter-spacing: 0.1em;
  margin: 0 0 0 20px;
  cursor: pointer;
}
.bgc-wrapper-1 .projects__nav ul li:nth-child(3) a::after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  border-radius: 0;
  background-color: #212121;
  transition: all 0.2s;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
}
.bgc-wrapper-1 .projects__nav ul li:nth-child(3) a:hover::after {
  opacity: 1;
}
.bgc-wrapper-1 .projects__header {
  width: 90%;
  margin: 0 auto;
}
.bgc-wrapper-1 .projects__header__circle {
  width: 15%;
  position: absolute;
  right: 5%;
  bottom: 15%;
}
.bgc-wrapper-1 .projects__header__circle::after {
  display: block;
  content: "";
  width: 60%;
  height: 100%;
  background-image: url("../white/scrolltext.png");
  opacity: 0.3;
}
.bgc-wrapper-1 .projects__header__circle img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  opacity: 0.2;
  -webkit-animation: rotate360 40s infinite forwards linear;
          animation: rotate360 40s infinite forwards linear;
}
.bgc-wrapper-1 .projects__header__title {
  width: 80%;
  margin: 5em 0;
  -webkit-animation: fade 2s 1.8s forwards;
          animation: fade 2s 1.8s forwards;
  opacity: 0;
}
.bgc-wrapper-1 .projects__header__title img {
  width: 80%;
  -o-object-fit: contain;
     object-fit: contain;
}
.bgc-wrapper-1 .projects__section {
  width: 90%;
  align-items: flex-start;
  margin: 3em auto;
}
.bgc-wrapper-1 .projects__section__num {
  width: 30%;
  align-items: flex-start;
  font-size: 1.2em;
  line-height: 3;
  font-weight: 300;
  letter-spacing: 0.1em;
  margin: 0;
}
.bgc-wrapper-1 .projects__section__num img {
  width: 30%;
  -o-object-fit: contain;
     object-fit: contain;
}
.bgc-wrapper-1 .projects__section__num__title {
  width: 80%;
  margin: 5em 0;
  -webkit-animation: fade 2s 1.8s forwards;
          animation: fade 2s 1.8s forwards;
  opacity: 0;
}
.bgc-wrapper-1 .projects__section__num__title img {
  width: 80%;
  -o-object-fit: contain;
     object-fit: contain;
}
.bgc-wrapper-1 .projects__section__content {
  width: 70%;
}
.bgc-wrapper-1 .projects__section__content .imgBox {
  width: 100%;
  overflow: hidden;
  box-shadow: 2px 2px 5px rgb(90, 90, 90);
}
.bgc-wrapper-1 .projects__section__content .imgBox .mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: saturate(60) blur(5px);
          backdrop-filter: saturate(60) blur(5px);
  transform-origin: top left;
  transition: all 1s;
}
.bgc-wrapper-1 .projects__section__content .imgBox .mask-3 {
  width: 100%;
  height: 100%;
  border-radius: 0;
  background-color: rgba(255, 85, 241, 0.5);
  -webkit-backdrop-filter: saturate(20) blur(1px);
          backdrop-filter: saturate(20) blur(1px);
}
.bgc-wrapper-1 .projects__section__content .imgBox img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 16/9;
  vertical-align: bottom;
  transition: all 1s;
}
.bgc-wrapper-1 .projects__section__content .imgBox:hover .mask {
  transform: rotate(90deg);
}
.bgc-wrapper-1 .projects__section__content .imgBox:hover img {
  transform: scale(1.3) rotate(8deg);
}
.bgc-wrapper-1 .projects__section__content .title {
  width: 100%;
  height: 20%;
  margin: 1em auto 0 auto;
}
.bgc-wrapper-1 .projects__section__content .title img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.bgc-wrapper-1 .projects__section__circle {
  width: 10%;
  position: absolute;
  left: 0%;
  bottom: 30%;
}
.bgc-wrapper-1 .projects__section__circle::after {
  display: block;
  content: "";
  width: 200%;
  height: 50%;
  background-image: url("../white/clickphoto.png");
  position: absolute;
  left: 32%;
  top: 50%;
  transform: translate(0, -50%);
  opacity: 0.4;
}
.bgc-wrapper-1 .projects__section__circle img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  opacity: 0.2;
  -webkit-animation: rotate360 40s infinite forwards linear;
          animation: rotate360 40s infinite forwards linear;
}
.bgc-wrapper-1 .projects__footer {
  width: 95%;
  margin: 0 auto;
}
.bgc-wrapper-1 .projects__footer ul {
  width: 100%;
  border-top: 1px solid #212121;
  padding: 1em 1em;
}
.bgc-wrapper-1 .projects__footer ul li {
  flex: 1;
}
.bgc-wrapper-1 .projects__footer ul li:nth-child(1) a {
  font-size: 1em;
  line-height: 1.5;
  font-weight: 300;
  letter-spacing: 0.1em;
  margin: 0;
  cursor: pointer;
}
.bgc-wrapper-1 .projects__footer ul li:nth-child(1) a::after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  border-radius: 0;
  background-color: #212121;
  transition: all 0.2s;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
}
.bgc-wrapper-1 .projects__footer ul li:nth-child(1) a:hover::after {
  opacity: 1;
}
.bgc-wrapper-1 .projects__footer ul li:nth-child(2) a {
  font-size: 1em;
  line-height: 1.5;
  font-weight: 300;
  letter-spacing: 0.1em;
  margin: 0;
}
.bgc-wrapper-1 .projects__footer ul li:nth-child(2) a::after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  border-radius: 0;
  background-color: #212121;
  transition: all 0.2s;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
}
.bgc-wrapper-1 .projects__footer ul li:nth-child(2) a:hover::after {
  opacity: 1;
}
.bgc-wrapper-1 .projects__footer ul li:nth-child(3) a {
  font-size: 1em;
  line-height: 1.5;
  font-weight: 300;
  letter-spacing: 0.1em;
  margin: 0 0 0 20px;
  cursor: pointer;
}
.bgc-wrapper-1 .projects__footer ul li:nth-child(3) a::after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  border-radius: 0;
  background-color: #212121;
  transition: all 0.2s;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
}
.bgc-wrapper-1 .projects__footer ul li:nth-child(3) a:hover::after {
  opacity: 1;
}

.bgc-wrapper-2 {
  position: absolute;
  left: 0;
  top: 0;
  visibility: hidden;
  opacity: 0;
  background-image: url(../black/black-bgc.jpg);
  padding: 2em 0;
}
.bgc-wrapper-2 .about {
  width: 95%;
  margin: 0 auto;
  border: 1px solid #fff;
  border-radius: 0.6em;
}
.bgc-wrapper-2 .about hr {
  width: 90%;
  color: #fff;
}
.bgc-wrapper-2 .about__nav {
  width: 95%;
  margin: 0 auto;
  border-bottom: 1px solid #fff;
}
.bgc-wrapper-2 .about__nav ul {
  width: 100%;
  padding: 1em 1em;
}
.bgc-wrapper-2 .about__nav ul li {
  flex: 1;
}
.bgc-wrapper-2 .about__nav ul li:nth-child(1) div {
  width: 0.6em;
  height: 0.6em;
  border: 1px solid #fff;
  border-radius: 1em;
  margin: 0 10px;
}
.bgc-wrapper-2 .about__nav ul li:nth-child(1) div:hover {
  background-color: #fff;
}
.bgc-wrapper-2 .about__nav ul li:nth-child(2) a {
  font-size: 1em;
  line-height: 1.5;
  font-weight: 300;
  letter-spacing: 0.1em;
  margin: 0;
  color: #fff;
  cursor: pointer;
}
.bgc-wrapper-2 .about__nav ul li:nth-child(2) a::after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  border-radius: 0;
  background-color: #fff;
  transition: all 0.2s;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
}
.bgc-wrapper-2 .about__nav ul li:nth-child(2) a:hover::after {
  opacity: 1;
}
.bgc-wrapper-2 .about__nav ul li:nth-child(3) a {
  font-size: 1em;
  line-height: 1.5;
  font-weight: 300;
  letter-spacing: 0.1em;
  margin: 0 0 0 20px;
  color: #fff;
  cursor: pointer;
}
.bgc-wrapper-2 .about__nav ul li:nth-child(3) a::after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  border-radius: 0;
  background-color: #fff;
  transition: all 0.2s;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
}
.bgc-wrapper-2 .about__nav ul li:nth-child(3) a:hover::after {
  opacity: 1;
}
.bgc-wrapper-2 .about__header {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 5em;
}
.bgc-wrapper-2 .about__header__title {
  width: 80%;
  margin: 6em 0 6em 0;
}
.bgc-wrapper-2 .about__header__title img {
  width: 80%;
  -o-object-fit: contain;
     object-fit: contain;
}
.bgc-wrapper-2 .about__header__content .textBox {
  width: 60%;
}
.bgc-wrapper-2 .about__header__content .textBox img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.bgc-wrapper-2 .about__header__content .imgBox {
  position: absolute;
  right: 0;
  bottom: -25%;
  transform-origin: right top;
  transform: rotate(90deg);
  width: 50%;
}
.bgc-wrapper-2 .about__header__content .imgBox img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.bgc-wrapper-2 .about__section--1 {
  width: 90%;
  align-items: flex-start;
  margin: 3em auto;
}
.bgc-wrapper-2 .about__section--1 .title {
  font-size: 4em;
  line-height: 1.3;
  font-weight: 200;
  letter-spacing: 0.1em;
  margin: 0;
  color: #fff;
  font-family: "Taviraj", serif;
}
.bgc-wrapper-2 .about__section--1 .content {
  width: 40%;
  margin-left: 45%;
  margin-top: 1em;
}
.bgc-wrapper-2 .about__section--1 .content img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.bgc-wrapper-2 .about__section--2 {
  width: 90%;
  align-items: flex-start;
  margin: 3em auto;
}
.bgc-wrapper-2 .about__section--2 .title {
  font-size: 4em;
  line-height: 1.3;
  font-weight: 200;
  letter-spacing: 0.1em;
  margin: 0;
  color: #fff;
  font-family: "Taviraj", serif;
}
.bgc-wrapper-2 .about__section--2 .content {
  width: 40%;
  margin-left: 45%;
  margin-top: 3em;
}
.bgc-wrapper-2 .about__section--2 .content img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.bgc-wrapper-2 .about__section--2 .mail {
  width: 50%;
  margin-top: 3em;
}
.bgc-wrapper-2 .about__section--2 .mail img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.bgc-wrapper-2 .about__footer {
  width: 95%;
  margin: 0 auto;
}
.bgc-wrapper-2 .about__footer ul {
  width: 100%;
  border-top: 1px solid #fff;
  padding: 1em 1em;
}
.bgc-wrapper-2 .about__footer ul li {
  flex: 1;
}
.bgc-wrapper-2 .about__footer ul li:nth-child(1) a {
  font-size: 1em;
  line-height: 1.5;
  font-weight: 300;
  letter-spacing: 0.1em;
  margin: 0;
  color: #fff;
  cursor: pointer;
}
.bgc-wrapper-2 .about__footer ul li:nth-child(1) a::after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  border-radius: 0;
  background-color: #fff;
  transition: all 0.2s;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
}
.bgc-wrapper-2 .about__footer ul li:nth-child(1) a:hover::after {
  opacity: 1;
}
.bgc-wrapper-2 .about__footer ul li:nth-child(2) a {
  font-size: 1em;
  line-height: 1.5;
  font-weight: 300;
  letter-spacing: 0.1em;
  margin: 0;
  color: #fff;
}
.bgc-wrapper-2 .about__footer ul li:nth-child(2) a::after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  border-radius: 0;
  background-color: #fff;
  transition: all 0.2s;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
}
.bgc-wrapper-2 .about__footer ul li:nth-child(2) a:hover::after {
  opacity: 1;
}
.bgc-wrapper-2 .about__footer ul li:nth-child(3) a {
  font-size: 1em;
  line-height: 1.5;
  font-weight: 300;
  letter-spacing: 0.1em;
  margin: 0 0 0 20px;
  color: #fff;
  cursor: pointer;
}
.bgc-wrapper-2 .about__footer ul li:nth-child(3) a::after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  border-radius: 0;
  background-color: #fff;
  transition: all 0.2s;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
}
.bgc-wrapper-2 .about__footer ul li:nth-child(3) a:hover::after {
  opacity: 1;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.ab {
  visibility: visible;
  -webkit-animation: about 1s forwards;
          animation: about 1s forwards;
}

.display-none {
  display: none;
}/*# sourceMappingURL=style.css.map */