.project2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  padding: 6rem 0;
  //MD
  @include md {
    padding: 10rem $md-padding;
  }
  &_title {
    padding: 3rem $sm-padding 0 $sm-padding;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    //MD
    @include md {
      padding: 0rem $md-padding 0 $md-padding;
    }
    h1 {
      font-size: 2.6rem;
      font-weight: 400;
    }
    p {
      font-family: "Noto Sans TC", sans-serif;
      font-size: 1.1rem;
      font-weight: 300;
      line-height: 2;
      letter-spacing: 3px;
      text-align: center;
    }
  }

  &_sub {
    width: 100%;
    padding: 0 $sm-padding;
    h2 {
      font-family: "Noto Sans TC", sans-serif;
      font-size: 1.8rem;
      font-weight: 400;
      letter-spacing: 4px;
    }
    h3 {
      margin-top: 1.5rem;
      font-size: 1.1rem;
      font-weight: 400;
      letter-spacing: 3px;
    }
  }

  &_item {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  &_cnt {
    width: 100%;
    padding: 0 $sm-padding;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    //MD
    @include md {
      flex-direction: row;
      align-items: flex-end;
      gap: 5rem;
    }
    .title {
      display: flex;
      flex-direction: column;
      align-items: center;
      //MD
      @include md {
        padding-left: 2rem;
      }
      h4 {
        width: 100%;
        font-size: 21px;
        font-weight: 100;
        letter-spacing: 2px;
      }
      h5 {
        margin-top: 0.6rem;
        width: 100%;
        font-size: 1rem;
        font-weight: 100;
        letter-spacing: 2px;
      }
      img {
        width: 300px;
        aspect-ratio: 1/2;
        border-radius: 1rem;
        object-fit: contain;
        margin-top: 3rem;
        //MD
        @include md {
          max-width: 300px;
        }
      }
    }

    .cnt {
      padding: 1rem 0;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      li {
        h4 {
          font-size: 1.5rem;
          font-weight: 400;
          letter-spacing: 2px;
        }
        p {
          margin-top: .8rem;
          font-size: 1rem;
          font-weight: 300;
          line-height: 2;
          letter-spacing: 1px;
        }
      }
    }
  }
}
