.project1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  padding: 6rem 0;
  //MD
  @include md {
    padding: 10rem $md-padding;
  }
  &_title {
    padding: 3rem $sm-padding 0 $sm-padding;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    //MD
    @include md {
      padding: 0rem $md-padding 0 $md-padding;
    }
    h1 {
      font-size: 2.6rem;
      font-weight: 400;
    }
    p {
      font-family: "Noto Sans TC", sans-serif;
      font-size: 1.1rem;
      font-weight: 300;
      line-height: 2;
      letter-spacing: 3px;
      text-align: center;
    }
  }

  &_sub {
    width: 100%;
    padding: 0 $sm-padding;
    h2 {
      font-family: "Noto Sans TC", sans-serif;
      font-size: 1.8rem;
      font-weight: 300;
      letter-spacing: 4px;
    }
    h3 {
      margin-top: 1.5rem;
      font-size: 1.1rem;
      font-weight: 100;
      letter-spacing: 3px;
    }
  }

  &_img {
    width: calc(100vw - ($sm-padding * 2));
    aspect-ratio: 2;
    border-radius: $border-radius;
    object-fit: cover;
    //MD
    @include md {
      width: calc(100vw - ($md-padding * 2));
    }
  }

  &_style {
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
    gap: 2rem;
    flex-wrap: wrap;
    //MD
    @include md {
      width: 100%;
    }
    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      &:nth-child(2) {
        .color {
          background-color: #0b416b;
        }
      }
      &:nth-child(3) {
        .color {
          background-color: #6c3594;
        }
      }
      &:nth-child(4) {
        .color {
          background-color: #f3a32a;
        }
      }
      figure {
        @include size(80px, 80px);
        background-image: url("../../images/AIEnglish/font.png");
        background-repeat: no-repeat;
        background-size: cover;
      }
      .color {
        @include size(80px, 80px);
      }
      p {
        font-size: 1rem;
        font-weight: 200;
        letter-spacing: 1px;
      }
    }
  }

  &_cnt {
    padding: 0 $sm-padding;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    //MD
    @include md {
      flex-direction: row;
      justify-content: center;
      gap: 5rem;
    }
    img {
      width: 80%;
      aspect-ratio: 1/2;
      border-radius: 1rem;
      object-fit: contain;
      //MD
      @include md {
        width: 30%;
      }
      &.row {
        aspect-ratio: 2;
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      li {
        h4 {
          font-size: 1.5rem;
          font-weight: 400;
          letter-spacing: 2px;
        }
        p {
          margin-top: .8rem;
          font-size: 1rem;
          font-weight: 300;
          line-height: 2;
          letter-spacing: 1px;
        }
      }
    }
    &--row {
      //MD
      @include md {
        flex-direction: column;
        gap: 5rem;
        img {
          width: 60%;
        }
      }
    }
  }
}
