.home {
  padding-bottom: 10rem;
  &_title {
    padding: 8rem $sm-padding 4rem $sm-padding;
    //MD
    @include md {
      padding: 8rem $md-padding 5rem $md-padding;
    }
    h2 {
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 2;
      letter-spacing: 1px;
    }
    h1 {
      font-weight: 400;
      margin-top: 2rem;
      font-size: 2.6rem;
      line-height: 1.3;
    }
  }
  &_menu {
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 0 $sm-padding;
    //MD
    @include md {
      padding: 0 $md-padding;
    }
    &_item {
      img {
        width: 100%;
        border-radius: $border-radius;
        aspect-ratio: 1.5;
        object-fit: cover;
        //MD
        @include md {
          aspect-ratio: 3;
        }
      }
      h1 {
        padding: 0 1rem;
        font-family: "Noto Sans TC", sans-serif;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.3;
        margin-top: 1rem;
        letter-spacing: 3px;
      }
      h2 {
        margin-top: .8rem;
        padding: 0 1rem;
        font-family: "Manjari", sans-serif;
        font-weight: 400;
        font-size: 1.1rem;
        line-height: 1.3;
        letter-spacing: 2px;
      }
    }
  }
}
