@import 'tools';
@import 'flexbox';
@import 'animation';

$theme-black: #212121;
$theme-white: #fff;
$content-width: 90%;
$font-noto: 'Noto Sans', sans-serif;
$font-Taviraj: 'Taviraj', serif;

.open-animation {
  @include fixed-lt(0, 0);
  @include size-bgc(100%, 100vh, 0, rgba(8, 8, 8, 0.5));
  @include blur(180, 5px);
  z-index: 33;
  overflow: hidden;
  animation: opacity 2s 3s forwards;
  .text {
    @extend %flex-row-center;
    @include absolute-rt(0, 50%);
    font-family: $font-Taviraj;
    transform-origin: top right;
    transform: rotate(90deg) translateX(50%);
    animation: fadeRight 3s forwards ease-in-out;
    p {
      @include font(3em, 1, 400, 0.1em, 0 0 0 0.2em);
      color: $theme-white;
      span {
        margin-left: 0.2em;
      }
    }
  }
}

//Article-1 Projects

.bgc-wrapper-1 {
  background-image: url(../white/white-bgc.jpeg);
  padding: 2em 0;
  .projects {
    width: 95%;
    margin: 0 auto;
    border: 1px solid $theme-black;
    border-radius: 0.6em;
    overflow: hidden;
    hr {
      width: $content-width;
      color: $theme-black;
      transition: all 0.6s;
    }
    &__nav {
      @extend %flex-row-between;
      width: 95%;
      margin: 0 auto;
      border-bottom: 1px solid $theme-black;
      ul {
        @extend %flex-row-between;
        width: 100%;
        padding: 1em 1em;
        li {
          flex: 1;
          &:nth-child(1) {
            @extend %flex-row-start;
            div {
              @include size(0.6em, 0.6em);
              border: 1px solid $theme-black;
              border-radius: 1em;
              margin: 0 10px;
              &:hover {
                background-color: $theme-black;
              }
            }
          }
          &:nth-child(2) {
            @extend %flex-row-center;
            a {
              @include font(1em, 1.5, 300, 0.1em, 0);
              @include hover-line(1px, $theme-black, 0.2s);
              cursor: pointer;
            }
          }
          &:nth-child(3) {
            @extend %flex-row-end;
            a {
              @include font(1em, 1.5, 300, 0.1em, 0 0 0 20px);
              @include hover-line(1px, $theme-black, 0.2s);
              cursor: pointer;
            }
          }
        }
      }
    }
    &__header {
      width: $content-width;
      @extend %flex-row-start;
      margin: 0 auto;
      &__circle {
        width: 15%;
        @include absolute-rb(5%, 15%);
        @include after('scroll', 3em, 3em) {
          text-align: center;
          font-family: $font-Taviraj;
          @include font(2.2em, 2.8em, 100, 0.1em, 0);
          @extend %absolute-center;
          opacity: 0.5;
        }
        img {
          width: 100%;
          object-fit: contain;
          opacity: 0.2;
          animation: rotate360 40s infinite forwards linear;
        }
      }
      &__title {
        width: 80%;
        margin: 5em 0;
        animation: fade 2s 1.8s forwards;
        opacity: 0;
        img {
          width: 80%;
          object-fit: contain;
        }
      }
    }
    &__section {
      width: $content-width;
      @extend %flex-row-between;
      align-items: flex-start;
      margin: 3em auto;
      &__num {
        width: 30%;
        @extend %flex-col-start;
        align-items: flex-start;
        @include font(1.2em, 3, 300, 0.1em, 0);
        img {
          width: 30%;
          object-fit: contain;
        }
        .circle {
          width: 50%;
          @include absolute-lt(0%, 240%);
          @include after('click photo', 3em, 3em) {
            text-align: center;
            white-space: nowrap;
            font-family: $font-Taviraj;
            @include font(2em, 2.5em, 100, 0.1em, 0);
            @extend %absolute-center;
            opacity: 0.5;
          }
          img {
            width: 50%;
            object-fit: contain;
            opacity: 0.2;
            animation: rotate360 40s infinite forwards linear;
          }
        }
        &__title {
          width: 80%;
          margin: 5em 0;
          animation: fade 2s 1.8s forwards;
          opacity: 0;
          img {
            width: 80%;
            object-fit: contain;
          }
        }
      }
      &__content {
        width: 70%;
        @extend %flex-col-between;
        .imgBox {
          width: 100%;
          overflow: hidden;
          box-shadow: 2px 2px 5px rgb(90, 90, 90);
          .mask {
            @include absolute-lt(0, 0);
            @include size-bgc(100%, 100%, 0, rgba(255, 255, 255, 0.2));
            @include blur(60, 5px);
            transform-origin: top left;
            transition: all 1s;
          }
          .mask-3 {
            @include size-bgc(100%, 100%, 0, rgba(255, 85, 241, 0.5));
            @include blur(20, 1px);
          }
          img {
            width: 100%;
            object-fit: cover;
            aspect-ratio: 16/9;
            vertical-align: bottom;
            transition: all 1s;
          }
          &:hover {
            .mask {
              transform: rotate(90deg);
            }
            img {
              transform: scale(1.3) rotate(8deg);
            }
          }
        }
        .title {
          @extend %flex-row-end;
          @include size(100%, 20%);
          margin: 1em auto 0 auto;
          img {
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }
    &__footer {
      width: 95%;
      @extend %flex-row-between;
      margin: 0 auto;
      ul {
        width: 100%;
        @extend %flex-row-between;
        border-top: 1px solid $theme-black;
        padding: 1em 1em;
        li {
          flex: 1;
          &:nth-child(1) {
            @extend %flex-row-start;
            a {
              @include font(1em, 1.5, 300, 0.1em, 0);
              @include hover-line(1px, $theme-black, 0.2s);
              cursor: pointer;
            }
          }
          &:nth-child(2) {
            @extend %flex-row-center;
            a {
              @include font(1em, 1.5, 300, 0.1em, 0);
              @include hover-line(1px, $theme-black, 0.2s);
            }
          }
          &:nth-child(3) {
            @extend %flex-row-end;
            a {
              @include font(1em, 1.5, 300, 0.1em, 0 0 0 20px);
              @include hover-line(1px, $theme-black, 0.2s);
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

//Article-2 About

.bgc-wrapper-2 {
  @include absolute-lt(0, 0);
  visibility: hidden;
  opacity: 0;
  background-image: url(../black/black-bgc.jpg);
  padding: 2em 0;
  .about {
    width: 95%;
    margin: 0 auto;
    border: 1px solid $theme-white;
    border-radius: 0.6em;
    hr {
      width: $content-width;
      color: $theme-white;
    }
    &__nav {
      width: 95%;
      @extend %flex-row-between;
      margin: 0 auto;
      border-bottom: 1px solid $theme-white;
      ul {
        width: 100%;
        @extend %flex-row-between;
        padding: 1em 1em;
        li {
          flex: 1;
          &:nth-child(1) {
            @extend %flex-row-start;
            div {
              @include size(0.6em, 0.6em);
              border: 1px solid $theme-white;
              border-radius: 1em;
              margin: 0 10px;
              &:hover {
                background-color: $theme-white;
              }
            }
          }
          &:nth-child(2) {
            @extend %flex-row-center;
            a {
              @include font(1em, 1.5, 300, 0.1em, 0);
              @include hover-line(1px, $theme-white, 0.2s);
              color: $theme-white;
              cursor: pointer;
            }
          }
          &:nth-child(3) {
            @extend %flex-row-end;
            a {
              @include font(1em, 1.5, 300, 0.1em, 0 0 0 20px);
              @include hover-line(1px, $theme-white, 0.2s);
              color: $theme-white;
              cursor: pointer;
            }
          }
        }
      }
    }
    &__header {
      width: $content-width;
      @extend %flex-row-start;
      margin: 0 auto;
      margin-bottom: 5em;
      &__title {
        width: 80%;
        margin: 6em 0 6em 0;
        img {
          width: 80%;
          object-fit: contain;
        }
      }
      &__content {
        .textBox {
          width: 60%;
          img {
            width: 100%;
            object-fit: contain;
          }
        }
        .imgBox {
          @include absolute-rb(0, -25%);
          transform-origin: right top;
          transform: rotate(90deg);
          width: 50%;
          img {
            width: 100%;
            object-fit: contain;
          }
        }
      }
    }
    &__section--1 {
      width: $content-width;
      @extend %flex-col-center;
      align-items: flex-start;
      margin: 3em auto;
      .title {
        @include font(4em, 1.3, 200, 0.1em, 0);
        color: $theme-white;
        font-family: $font-Taviraj;
      }
      .content {
        width: 40%;
        margin-left: 45%;
        margin-top: 1em;
        img {
          width: 100%;
          object-fit: contain;
        }
      }
    }
    &__section--2 {
      width: $content-width;
      @extend %flex-col-center;
      align-items: flex-start;
      margin: 3em auto;
      .title {
        @include font(4em, 1.3, 200, 0.1em, 0);
        color: $theme-white;
        font-family: $font-Taviraj;
      }
      .content {
        width: 40%;
        margin-left: 45%;
        margin-top: 3em;
        img {
          width: 100%;
          object-fit: contain;
        }
      }
      .mail {
        width: 50%;
        margin-top: 3em;
        img {
          width: 100%;
          object-fit: contain;
        }
      }
    }
    &__footer {
      width: 95%;
      @extend %flex-row-between;
      margin: 0 auto;
      ul {
        width: 100%;
        @extend %flex-row-between;
        border-top: 1px solid $theme-white;
        padding: 1em 1em;
        li {
          flex: 1;
          &:nth-child(1) {
            @extend %flex-row-start;
            a {
              @include font(1em, 1.5, 300, 0.1em, 0);
              @include hover-line(1px, $theme-white, 0.2s);
              color: $theme-white;
              cursor: pointer;
            }
          }
          &:nth-child(2) {
            @extend %flex-row-center;
            a {
              @include font(1em, 1.5, 300, 0.1em, 0);
              @include hover-line(1px, $theme-white, 0.2s);
              color: $theme-white;
            }
          }
          &:nth-child(3) {
            @extend %flex-row-end;
            a {
              @include font(1em, 1.5, 300, 0.1em, 0 0 0 20px);
              @include hover-line(1px, $theme-white, 0.2s);
              color: $theme-white;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

// 效果動畫

.hidden {
  visibility: hidden;
  opacity: 0;
}

.ab {
  visibility: visible;
  animation: about 1s forwards;
}

.overflow {
  overflow: hidden;
}
