.home01 {
  background-color: #fff;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0 20px 0;
  &_title {
    width: 100%;
    max-width: 900px;
    padding: 0 40px;
    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 24px;
      li {
        h1 {
          text-align: center;
          font-family: "Manjari", sans-serif;
          font-size: 38px;
          font-weight: 400;
          margin-top: 8px;
          @media screen and (min-width: 920px) {
            font-size: 44px;
          }
        }
        p {
          font-family: "Manjari", sans-serif;
        }
        &:nth-child(1) {
          display: flex;
          align-items: center;
          gap: 10px;
          @media screen and (min-width: 920px) {
            gap: 14px;
          }
          span {
            display: block;
            @include size(27px, 27px);
            background-image: url("../../images/icon/logo.png");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
          }
          p {
            margin-top: 8px;
            font-size: 18px;
            font-weight: 400;
            letter-spacing: 0.4px;
            @media screen and (min-width: 920px) {
              font-size: 20px;
            }
          }
        }
        &:nth-child(3) {
          text-align: center;
          p {
            font-size: 18px;
            font-weight: 100;
            letter-spacing: 0.4px;
            line-height: 28px;
            @media screen and (min-width: 920px) {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
  .icon--scroll {
    opacity: 0.4;
    display: flex;
    justify-content: center;
    align-items: center;
    .border {
      display: block;
      width: 36px;
      height: 56px;
      border: 1px solid #303030;
      border-radius: 40px;
    }
    .dot {
      position: absolute;
      top: 25%;
      display: block;
      width: 4px;
      height: 4px;
      background-color: #303030;
      border-radius: 1rem;
      animation: scroll 2.5s infinite;
      transition: all 0.2s;
    }
  }
  .img_box_group {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    li {
      @keyframes floatingBreathup {
        0%,
        100% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(-10px);
        }
      }
      @keyframes floatingBreathdown {
        0%,
        100% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(10px);
        }
      }
      &:nth-child(odd) {
        animation: floatingBreathup 3s ease-in-out infinite;
      }
      &:nth-child(even) {
        animation: floatingBreathdown 3s ease-in-out infinite;
      }
      .box {
        width: 180px;
        height: 220px;
        border-radius: 20px;
        background-color: #c4c4c4c4;
        margin-bottom: 20px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        @for $i from 1 through 12 {
          &.img-#{$i} {
            background-image: url('../../../public/images/home/image-#{$i}.png');
          }
        }
        &.mt-6 {
          margin-top: 60px;
        }
        &.mt-9 {
          margin-top: 90px;
        }
      }
    }
  }
}
