.home03 {
  background-color: #f0f0f3;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  &_title {
    width: 100%;
    h1 {
      font-size: 3.75rem;
    }
  }
  &_main {
    .card {
      position: absolute;
      top: 10rem;
      right: 20rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      z-index: 20;
      padding: 1rem;
      border-radius: 60px;
      background: #ffffff;
      box-shadow: 7.27273px 7.27273px 21.8182px rgba(174, 174, 192, 0.4),
        -7.27273px -7.27273px 21.8182px #ffffff;
      animation: float 6s 1s ease-in-out infinite;
      &_info {
        width: 50%;
        display: flex;
        gap: 1rem;
        align-items: center;
        line-height: 1.8rem;
        font-size: 1.3rem;
        span {
          display: block;
          min-width: 1.5rem;
          height: 1.5rem;
          background-color: #f0f0f3;
          border-radius: 1rem;
        }
      }
      &_img {
        width: 22rem;
        height: 12rem;
        border-radius: 40px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .img {
      width: calc(100vw / 3);
      aspect-ratio: 5/3;
      margin-left: 20rem;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 40px;
      }
      .icon--into {
        position: absolute;
        bottom: -50%;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90px;
        height: 90px;
        border-radius: 20px;
        background: #f0f0f3;
        box-shadow: -10px -10px 30px #ffffff,
          10px 10px 30px rgba(174, 174, 192, 0.4), inset 10px 10px 10px #ffffff,
          inset -10px -10px 10px rgba(174, 174, 192, 0.25);
        cursor: pointer;
        transition: all 0.2s;
        &:active {
          opacity: 0;
        }
        span {
          display: block;
          width: 40px;
          height: 40px;
          background-image: url("../../images/icon/right.png");
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
        }
        animation: float 6s ease-in-out infinite;
      }
    }
    .titleList {
      position: absolute;
      top: 30%;
      right: 30rem;
      z-index: 30;
      li {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        animation: float 6s 2s ease-in-out infinite;
        span {
          display: block;
          width: 30px;
          height: 30px;
          background-image: url("../../images/icon/logo.png");
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        }
        h2 {
          font-size: 2.5rem;
          text-wrap: nowrap;
        }
        h3 {
          font-size: 2rem;
          text-wrap: nowrap;
        }
      }
    }
  }
}
