.home03 {
  background-color: #f0f0f3;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 2.5rem;
  &_title {
    h1 {
      font-size: 3.75rem;
    }
  }
  &_main {
    @include size(50px, 50px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .card {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      z-index: 20;
      top: 40%;
      right: 0;
      padding: 1rem;
      border-radius: 60px;
      background: #ffffff;
      box-shadow: 7.27273px 7.27273px 21.8182px rgba(174, 174, 192, 0.4),
        -7.27273px -7.27273px 21.8182px #ffffff;
      animation: float 6s 1s ease-in-out infinite;
      &_info {
        width: 50%;
        display: flex;
        gap: 1rem;
        align-items: center;
        line-height: 1.8rem;
        font-size: 1.3rem;
        span {
          display: block;
          min-width: 1.5rem;
          height: 1.5rem;
          background-color: #f0f0f3;
          border-radius: 1rem;
        }
      }
      &_img {
        width: 22rem;
        height: 12rem;
        border-radius: 40px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .img {
      position: absolute;
      left: 0;
      bottom: -40%;
      width: calc(100vw / 3);
      aspect-ratio: 5/3;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 40px;
      }
      .icon--into {
        position: absolute;
        bottom: -70%;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90px;
        height: 90px;
        border-radius: 20px;
        background: #f0f0f3;
        box-shadow: -10px -10px 30px #ffffff,
          10px 10px 30px rgba(174, 174, 192, 0.4), inset 10px 10px 10px #ffffff,
          inset -10px -10px 10px rgba(174, 174, 192, 0.25);
        cursor: pointer;
        transition: all 0.2s;
        &:active {
          opacity: 0;
        }
        span {
          display: block;
          width: 40px;
          height: 40px;
          background-image: url("../../../public/images/icon/right.png");
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
        }
        animation: float 6s ease-in-out infinite;
      }
    }
    .list {
      left: 160%;
      top: 180%;
      position: absolute;
      height: calc(100vw / 5);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      li {
        &:nth-child(1) {
          display: flex;
          flex-direction: column;
          gap: 1rem;
        }
      }
      p {
        text-wrap: nowrap;
        font-size: 1.25rem;
        opacity: 0.3;
        cursor: pointer;
        transition: all 0.2s;
        &:hover {
          opacity: 1;
          scale: 1.1;
        }
      }
    }
    .title {
      position: absolute;
      left: -850%;
      top: -100%;
      li {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        animation: float 6s 2s ease-in-out infinite;
        span {
          display: block;
          width: 30px;
          height: 30px;
          background-image: url("../../../public/images/icon/logo.png");
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        }
        h2 {
          font-size: 2.5rem;
          text-wrap: nowrap;
        }
        h3 {
          font-size: 2rem;
          text-wrap: nowrap;
        }
      }
    }
  }
}
