nav {
  width: 50vw;
  position: fixed;
  z-index: 100;
  right: 1rem;
  top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  //MD
  @include md {
    right: $p-md;
    top: $p-md;
  }
  ul {
    display: flex;
    gap: 2rem;
    li {
      font-size: 1.25rem;
      cursor: pointer;
      transition: all 0.2s;
      &:hover {
        opacity: 0.5;
      }
    }
  }
  figure {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.75rem;
    height: 3.75rem;
    background: #f0f0f3;
    box-shadow: -4px -4px 30px #ffffff, 10px 10px 30px rgba(174, 174, 192, 0.4),
      inset 10px 10px 10px #ffffff,
      inset -10px -10px 10px rgba(174, 174, 192, 0.25);
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
      scale: 0.8;
    }
    &:active {
      opacity: 0;
    }
    span {
      @include size(1.25rem, 1.25rem);
      background-image: url("../../images/icon/home.png");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}
