.menu {
  width: 100%;
  max-width: 1300px;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  .icon {
    z-index: 100;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f0f0f3;
    box-shadow: -3px -3px 22.5px #ffffff,
      7.5px 7.5px 22.5px rgba(174, 174, 192, 0.4),
      inset 7.5px 7.5px 7.5px #ffffff,
      inset -7.5px -7.5px 7.5px rgba(174, 174, 192, 0.25);
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
      scale: 0.8;
    }
    &:active {
      opacity: 0;
    }
  }
  .back {
    position: fixed;
    top: $p-sm;
    left: $p-sm;
    //MD
    @include md {
      top: $p-md;
      left: $p-md;
    }
    span {
      @include size(20px, 20px);
      background-image: url("../../images/icon/left.png");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
    p {
      display: none;
      //MD
      @include md {
        display: block;
        position: absolute;
        left: 140%;
      }
    }
  }
  &_list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    li {
      position: relative;
      width: 220px;
      height: 300px;
      border-radius: 20px;
      background-color: #c4c4c4c4;
      cursor: pointer;
      @keyframes item_up {
        0%,
        100% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(-10px);
        }
      }
      @keyframes item_down {
        0%,
        100% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(10px);
        }
      }
      &:nth-child(odd) {
        @media screen and (min-width: 920px) {
          animation: item_up 3s ease-in-out infinite;
          margin-top: 40px;
        }
      }
      &:nth-child(even) {
        @media screen and (min-width: 920px) {
          animation: item_down 3s ease-in-out infinite;
          margin-top: 80px;
        }
      }
      figure {
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 20px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .item_title {
        font-family: "Manjari", sans-serif;
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 14px;
        font-size: 1.4rem;
        text-wrap: nowrap;
        top: 0;
        left: 0;
        z-index: 2;
        transition: all 0.6s;
        opacity: 0;
        background-color: rgba(255, 255, 255, 0.9);

        h1 {
          text-wrap: wrap;
          line-height: 22px;
          color: #303030;
        }
        span {
          margin-right: 10px;
          font-size: 20px;
          color: #303030;
        }
        @keyframes fadeInOut {
          0%,
          100% {
            opacity: 0;
          }
          30% {
            opacity: 0;
          }
          50% {
            opacity: 1;
          }
          60% {
            opacity: 1;
          }
          90% {
            opacity: 0;
          }
        }

        animation: fadeInOut 10s ease-in-out infinite;
        @media screen and (min-width: 920px) {
          animation: none;
        }
      }
      .goto_btn {
        z-index: 10;
        width: 80px;
        height: 80px;
        position: absolute;
        right: 0;
        bottom: -4px;
        background-image: url("../../images/goto_btn.svg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        transition: all 0.6s;
      }
      &:hover {
        .item_title {
          opacity: 1;
        }
        .goto_btn {
          scale: 1.1;
        }
      }
    }
  }
}
