@import "./base/reset";
@import "./mixin/rwd";
@import "./mixin/tool";
@import "./animations/animations";
@import "./variable/variable";

//components
@import "./components/Home01";
@import "./components/Home02";
@import "./components/Home03";
@import "./components/Home04";
@import "./components/Home05";
@import "./components/Navbar";

// Layout
@import "./pages/Home";
@import "./pages/ShowPage.scss";

body {
  background-color: #f0f0f3;
  &::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
  }
  overscroll-behavior: none;
  height: 100vh;
  overflow-x: hidden;
}

.fade-in-out {
  animation: fadeInOut 6s ease-in-out;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

