@import "./base/reset";
@import "./mixin/rwd";
@import "./mixin/tool";
@import "./animations/animations";
@import "./variable/variable";

//components
@import "./components/Home01";
@import "./components/Home02";
@import "./components/Navbar";
@import "./components/Admin";

// Layout
@import "./pages/Home";
@import "./pages/Menu";
@import "./pages/ShowPage.scss";

body {
  background-color: #fff;
  &::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
  }
  overscroll-behavior: none;
  height: 100vh;
  overflow-x: hidden;
}

.fade-in-out {
  animation: fadeInOut 6s ease-in-out;
}
.fade-in-out-1 {
  animation: fadeInOut01 6s ease-in-out;
}

.toTopBtn {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  cursor: pointer;
  transition: all 0.4s;
  &:hover {
    scale: 1.1;
  }
  li {
    h1 {
      font-size: 3.75rem;
    }
    p {
      font-size: 20px;
      margin-top: 5px;
    }
    &:nth-child(1) {
      display: flex;
      align-items: center;
      gap: 1rem;
      span {
        display: block;
        @include size(24px, 24px);
        background-image: url("../images/icon/logo.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }
}
